appnope==0.1.0
argh==0.26.2
-e git+https://github.com/steventhan/code-katas@4e61c6c491d1eea2fa9b09a005861ec1f6d47c89#egg=code_katas
colorama==0.3.7
decorator==4.0.10
docopt==0.6.2
ipython==5.1.0
ipython-genutils==0.1.0
networkx==1.11
pathtools==0.1.2
pexpect==4.2.1
pickleshare==0.7.4
pluggy==0.3.1
prompt-toolkit==1.0.7
ptyprocess==0.5.1
py==1.4.31
Pygments==2.1.3
pytest==3.0.1
pytest-watch==4.1.0
python-graph-core==1.8.2
PyYAML==3.12
simplegeneric==0.8.1
six==1.10.0
tox==2.3.1
traitlets==4.2.2
virtualenv==15.0.3
watchdog==0.8.3
wcwidth==0.1.7
